.container_menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90px;
  padding: 20px;
  width: 100%;
  background: rgb(0,5,36);
  background: linear-gradient(90deg, rgba(0,5,36,1) 11%, rgba(9,47,121,0.4430147058823529) 69%, rgba(0,212,255,1) 91%);
}

.container_menu > button {
  text-decoration: none;
  background-color: #e7ebee;
  border-radius: 9px;
  width: 100px;
  color: #050505;
  font-size: larger;
}

.container_menu > input {
  display: flex;
  background-color: #f1f3f5;
  border-radius: 9px;
  color: #020202;
  font-size: larger;
}