/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*{
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background: rgb(0,36,12);
  background: linear-gradient(90deg, rgba(0,36,12,1) 11%, rgba(9,121,37,0.10688025210084029) 52%, rgba(0,212,255,1) 91%);
}
